*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
  }
  .background{
    align-items: center;
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    object-fit: cover;
  }
  .videofeed{
    height: 390px;
    border-radius: 15px;
    
  }
  .container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .buttonmenu{
    z-index: 1;
    height: 34px;
    width: 910px;
    justify-content: center;
  }
  
  .infobox1{
    border-radius: 10px;
    height: 500px;
    width: 700px;
    z-index: 1;
    background-color: rgb(53, 51, 51);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  }
  
  .infobox2{
    
    border-radius: 10px;
    height: 200px;
    width: 250px;
    z-index: 1;
    background-color: rgb(53, 51, 51);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  }
  
  .welcomediv{
    height: 11%;
    width: 100%;
    display: flex;
    align-items:end;
    justify-content: center;
  }
  
  .welcometext{
    font-weight: bold;
    font-size: 30px;
    color: rgb(235, 232, 232);
  }
  
  .exciteddiv{
    height: 7.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .excitedtext{
    color: rgb(132, 128, 123);
  }
  
  .inputinfo{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form{
    height: 100%;
    width: 100%;
  }
  .emailtextdiv{
    margin-left: 5%;
    margin-top: 3.5%;
    display: flex;
    justify-content: flex-start;
  }
  
  
  .emailtext{
    color: rgb(181, 179, 176);
    font-size: 12.5px; 
    font-family: helvetica;
    font-weight: bold;
  }
  
  .emailinput{
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .email{
    padding: 10px;
    width: 70%;
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
    font-family:helvetica;
    font-size: 15px;
  }
  
  .login{
    display: flex;
    width: 100%;
    height: 40%;
  }
  
  .forgot{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-top: 1.2%;
    font-size: 11px;
    color: rgb(202, 126, 229);
  }
  
  .forgot:hover{
    text-decoration: underline;
  }
  
  
  .loginbutton{
    margin-left:5%;
    margin-top: 5%;
    background-color: rgb(140, 13, 186);
    color:white;
    border: none;
    height: 34px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.2s;
  }
  .loginbutton:hover{
    opacity:0.7;
  }
  .loginbutton:active{
    opacity: 0.4;
  }