*{
background-color: rgb(54, 52, 52);
margin: 0;
padding: 0;
}
p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 0;
margin-bottom: 0;
}

.background{
align-items: center;
position: absolute;
z-index: 0;
height: 100vh;
width: 100%;
display: flex;
object-fit: cover;
}

.container1{
border-radius: 10px;
height: 50vh;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.container2{
z-index: 1;
border-radius: 10px;
height: 50vh;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.redirect{
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: bisque;
z-index: 1;
border-radius: 5px;
padding: 10px;
}

.template{
z-index: 1;
width: 160px;
height: 240px;
display: inline-block;
vertical-align: bottom;
border-radius: 10px;
border: none;
box-shadow: 0px 0px 3px rgba(0,0,0, 10);
transition: 0.5s;
}

.template:hover{
width: 240px;
height: 360px;
box-shadow: 0px 0px 10px rgba(0,0,0, 20);
}

.id{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Courier New', Courier, monospace;
font-size: 70px;
color: whitesmoke;
height: 100px;
border-radius: 0 0 10px 10px;
}

.imgdiv{
border-radius: 10px;
width: 100%;
height: 66.67%;
}

.img{
width: 100%;
height: 100%;
object-fit: cover;
display: block;
border-radius: 10px 10px 0 0;
}

.name{
color: whitesmoke;
font-weight: bold;
font-size: 35px;
}