<!DOCTYPE html>
<html>
<head>
  <title>
    Practicing Div
  </title>
  <link rel="stylesheet" href="static/styles3.css">
</head>


<body>
  <img class="background" src="static/background2.jpg">
  <div class="container1">
      <div class="template">
        <div class="imgdiv">
          <img class="img" src="static/A.jpg">
        </div>
        <div class="id">
          A
          <!--<button class="button">
            View
          </button>-->
        </div>
      </div>
      <div class="template">
        <div class="imgdiv">
          <img class="img" src="static/B.jpg">
        </div>
        <div class="id">
          B
          <!--<button class="button">
            View
          </button>-->
        </div>
      </div>
      <div class="template">
        <div class="imgdiv">
          <img class="img" src="static/C.jpg">
        </div>
        <div class="id">
          C
          <!--<button class="button">
            View
          </button>-->
        </div>
      </div>
      <div class="template">
        <div class="imgdiv">
          <img class="img" src="static/D.jpg">
        </div>
        <div class="id">
          D
          <!--<button class="button">
            View
          </button>-->
        </div>
      </div>
      
      <a style="text-decoration:none" class="redirect" href="index.html">TRY GESTURES</a>
  </div>
  <div class="container2">
    <div class="template">
      <div class="imgdiv">
        <img class="img" src="static/E.jpg">
      </div>
      <div class="id">
        E
        <!--<button class="button">
          View
        </button>-->
      </div>
    </div>
    <div class="template">
      <div class="imgdiv">
        <img class="img" src="static/F.jpg">
      </div>
      <div class="id">
        F
        <!--<button class="button">
          View
        </button>-->
      </div>
    </div>
    <div class="template">
      <div class="imgdiv">
        <img class="img" src="static/G.jpg">
      </div>
      <div class="id">
        G
        <!--<button class="button">
          View
        </button>-->
      </div>
    </div>
    <div class="template">
      <div class="imgdiv">
        <img class="img" src="static/H.jpg">
      </div>
      <div class="id">
        H
        <!--<button class="button">
          View
        </button>-->
      </div>
    </div>

  </div>
</body>
</html>